.sequencerTitle {
  margin-left: -2px;
}

.sequenceSteps {
  display: flex;
  align-items: center;
  margin-top: -6px;
  margin-left: -84px;
}

.sequenceStep {
  transform: scale(0.65);
  width: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  line-height: 8px;
}

.skipStep {
  margin-top: 14px;
  cursor: pointer;
}

.sequencerControls {
  display: flex;
  align-items: center;
  gap: 24px;
}

.sequencerControls button {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  margin-top: -42px;
}

.syncSwitch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.knobControl {
  transform: scale(0.65) translateY(-39%);
  text-align: center;
  display: inline-block;
}

.knobControl p {
  margin-top: -4px;
}

.divMultSymbol {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 4px;
}

.sequencerPointer {
  margin-right: -6px;
  margin-left: 4px;
}

.sequenceSelector {
  display: flex;
  margin-left: -84px;
}

.sequenceSelector p {
  margin-top: -2px;
  margin-left: -2px;
  font-size: 16px;
}

.verticalDivider {
  width: 1px;
  height: 28px;
  background-color: transparent;
}

.stepNum {
  font-size: 26px;
  font-weight: bold;
}
